
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Libre+Baskerville:ital@1&family=Mulish:wght@300&display=swap" rel="stylesheet">'
);

*{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Dongle', sans-serif; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font-family: 'Dongle',sans-serif;
    font-size: 16px;
  --color-principal: #E8DCCB;
  --color-texto: #333;
}

body{
    background-color:#A9DED5;
    font-family: sans-serif;
    line-height: 1.5;
}

header{
    display: flex;
    flex-direction: column;
   /* padding: 20px;
    margin: 20px;*/
    border-radius: 5px;
    text-align: center;
     padding: 2rem 1rem;
}
main{
    display: flex;
    
}




.title-container{
    display: flex;
    justify-content: center;
   
}
.slogan-container{
    display: flex;
    justify-content: center;
}
.logo-container{
    display:flex;
    justify-content: left;
    padding: 30px;
    width: 10vw;
   
    


}
nav{
    display: flex;
    background-color:#6BC4B5;
    width:95vw;
    height:15vh ;
    align-items: center;
    justify-content: space-between;
    border: 2px #E2C48F solid; 
    border-radius: 5px;
    box-shadow: #C8A46B 3px 3px 3px;
    margin:15px;
    padding: 1rem;
    
   
}

.link-container{
    display: flex;
    justify-content: right;
    gap:50px ;
    padding: 30px;
    top: 70px;
    right: 0;
    width: 100%;
    flex-direction: row;
    text-align: center;

}


.link-container a {
  padding: 1rem;
  text-decoration: none;
  color: var(--color-texto);
}

.link-container.active {
  display: flex;
}
.logo{
    width: 12rem;
    height: auto;
    scrollbar-shadow-color: #C8A46B;
    
}
a{
    text-decoration: none;
    text-shadow: #C8A46B 1px 1px;
    color:#F8F7F4;
    font-size:18px ;
   
    
}
a:hover{
    color:black;
}

.btn-menu{
    display: none;
    color: #3AA393;
    background-color: #F8F7F4;
    border: none;
    border-radius: 2px;
    align-items: flex-end;
    padding:3px ;
    margin: 5px;
    font-size: 2rem;
    cursor: pointer;
  }

h1{
  color:#F8F7F4;
  display: flex;
  justify-content: center;
  text-shadow: #C8A46B 3px 3px ;
  margin: 20px;
  font-size: 55px;
  font-family: Playfair Display, serif;
   
}

h2{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
    font-style: italic;
    color:#6BC4B5;
    font-size: 20px;
    text-shadow: #24492E 1px 1px;
}

.hero{
    display: flex;
    gap: 30px;
    padding:50px;
}

.info-aboutme{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: space-between;
    
    padding: 5px;
    font-size: 0.9rem;
}
.parrafoHome{
    display: flex;
    text-align: justify;
    /* justify-content: flex-start; */
    /* flex-direction: row; */
    
    line-height: 30px;
    font-style: italic;
    
    
}
.parrafoListas{
    display: flex;
    text-align:justify;
    /* flex-wrap: wrap; */
    justify-content:left;
  
  padding: 5px;
  line-height: 25px;
  
}

ul{
    list-style-type: none;
}
/* .photoZarina{
    display: flex;
    justify-content: center;
    width: 250px ;
    border-radius: 5px;
} */
.cardPhoto{
    display: inline-flex;
    justify-content: center;
    background-color: #A9DED5;
    width:200px ;
    height:200px;
    opacity:0.8px ;
    border:5px solid #6BC4B5 ;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: #C8A46B 2px 2px 3px 3px;
    padding: 5px;
    
    
}

.cardPhoto img{
    /* display: flex; */
    /*object-fit: cover;
    max-width: 100%;
    max-height: 100%;*/
    width: 100%;
  max-width: 250px;
  border-radius: 50%;
}
ul{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}

/* page contacto */

.contacto-container{
   /* 
    justify-items: flex-start;
    padding: 100px;*/

    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    
}

.formulario-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    width: 100vw;
}
.parrafoContacto{
    display: flex;
    /* justify-content: center; */
    color:#6BC4B5;
    font-size:20px;
    font-family: cursive;
    padding: 30px;
    font-weight: bold;
    text-shadow:#24492E 1px 1px;
    font-weight: bold;
}

.formulario{
    display: flex;
    /* flex-direction: column; */
    justify-content:space-between;
    flex-wrap: wrap;
    gap:10px;
    /* align-items:normal; */
    
    background-color: #A9DED5;
    margin: 50px;
    padding: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: #C8A46B 5px 5px 5px 5px;
    color: #24492E;
    font-weight: bold;
    font-size: 20px;
    
    width: 500px;
}
.info-label{
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    width: 200px;
    
    gap: 50px;
   /*  justify-content:right; */


}

/*.formulario input,
.formulario textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}*/
.info-input{
    display: flex;
    
    width: 200px;
    /* justify-content:right; */
}
.btn-container{
    display: flex;
    gap:10px;
    
}

.btn-enviar{
    background-color: #A9DED5;
    color: #24492E;
    border:none ;
    border-radius: 5px;
    width: 120px;
    font-size: 15px;
    box-shadow: #24492E 2px 2px 2px 2px;
    padding: 0.7rem;

}
.btn-reset{
    background-color:  #A9DED5;
    color: #24492E;
    border: none;
    border-radius: 5px;
    width: 120px;
    font-size: 1rem;
    box-shadow: #24492E 2px 2px 2px 2px;
    padding: 0.7rem;

}

.wsp-container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    justify-content:space-between;
    /* padding: 100px; */
    
}
.wspcontainer-img{

    display: flex;
    width: 200px;
    height: 200px;
    box-shadow:#24492E 2px 2px 2px 2px;
    

}

.wspcontainer-img img{
    width: 100%;
}


.text-wsp{
    display: flex;
    justify-content:space-between;
    width: 150px;
    
    
    /* padding: 5px; */
    font-size: 20px;
    font-weight: bold;
    color: #24492E;
    
}

.pieDepagina{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#24492E;
    font-weight:bold;
    text-shadow: #24492E 1px 1px;
}
.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#24492E;  
    font-weight:bold;
    text-shadow: #24492E 1px 1px;
}
#logo{
    width: 100px;
    height: 100px;
    display: flex;
    margin:10px ;
    padding-left: 600px ;
    padding-right: 400px;

}
.bi bi-arrow-down-circle{
    display: flex;
    
}

@keyframes slidein {
    from {
      margin-right: 200%;
      width: 200%
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

.slogan{
    font-family: cursive;
    animation-duration: 3s;
    animation-name: slidein;
}
.pageServicios{
    display: flex;
    width:100vw ;
    gap:30px ;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;
    padding: 50px;
    /* border:1px solid green; */
}
.title-servicios{
    display: flex;
    /* border: 1px solid red; */
    /* text-align: center; */
    padding-left:100px;
    padding-right: 100px;
    font-size: 35px;
    font-weight: bold;

}

/* .servicios-lista{
    display: flex;
    border: 1px solid blue;
    font-size: 18px;
    line-height: 30px;
} */


footer{
    display: flex;
    flex-direction: column;
    background-color: #6BC4B5;   
    padding: 20px;
}

/* page servicios */
.servicios-lista{
    /* border: 1px solid blue; */
    /*display: flex;
    
    gap:25px;
    padding:50px ;*/
    
   display: flex;
   gap: 25px;
   padding: 50px;
   flex-wrap: wrap;
   justify-content:center;
}

.card-servicios{
    display: inline-block;
    justify-content: center;
    background-color: #A9DED5;
    width:200px ;
    height: 200px;
    opacity:0.8px ;
    border:5px solid #C8A46B ;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: #24492E 2px 2px 3px 3px;
    padding: 5px;
    position: relative;
    text-align: center;
    
}
.img-texto{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation: animacion 4s ease-in-out infinite;
    background-color:#24492E;
    border-radius: 5px;
    text-align: center;
    color: #C8A46B;
    font-weight: bold;
    text-shadow: #24492E 2px 2px;
}
@keyframes animacion{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100%{opacity: 0;}
}

.card-servicios img{
    object-fit: cover;
   /* max-width: 100%;
    max-height: 100%;*/
    width: 100%;
    height: auto;

}



@media screen and (max-width:768px){ 
    
    nav {
        display:none
       }
   .btn-menu{
      display:block   
       }
    header{
        width:250px ;
        height:120px ;
    }
    header h2 {
      font-size: 20px;
      display: flex;
      justify-content: center;
      text-align:center;
      }
    body h1{
        font-size: 25px;
        display:inline-flex;
    }
  
    .title-container{
        width:200px;
        color: #24492E;
        text-shadow: #C8A46B 1px 1px;
    }
    .slogan-container{
        width: 200px;
    }
    .slogan{
        font-size: 15px;
    }
    .cardPhoto img{
        width: 100%;
        height: 100%;

     }
    .cardPhoto{
        display: flex;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
   }

   /* MEDIA QUERIES (TABLET) */
@media (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .servicios-lista {
    grid-template-columns: repeat(2, 1fr);
  }

  .contacto-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .link-container {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .btn-menu {
    display: none;
  }

  .servicios-lista {
    grid-template-columns: repeat(4, 1fr);
  }
}

input {
  padding: 10px 15px;
  
}
textarea{   
    padding: 10px 15px;
    color:#333;
}